(
    layout: [
        "######o####U##",
        "# L_ _   __  #",
        "O  0 ___ 4 __#",
        "#  __8 2    5#",
        "# __ 67  _  _#",
        "# 41___  _  0#",
        "#__      _   N",
        "# 5   3___ L #",
        "###I###i######",
    ],
    objects: [
        Belt("ff"),
        Belt("rffr"),
        Belt("flfrf"),
        Belt("rfflfff"),
        Belt("frf"),
        Belt("flf"),
        Belt("r"),
        Belt("l"),
        Belt("lfl"),
    ]
)