(
    layout: [
        "#######O#####U##",
        "# L    2     2 #",
        "#   4___  4___ #",
        "#  3_    3_    #",
        "# 3_    3_   LL#",
        "# 2     2    LL#",
        "# 2     2    LL#",
        "# _1    _1   LL#",
        "#  _1    _1    #",
        "#   ____  ____ #",
        "# L    0     0 #",
        "#######I#####N##",
    ],
    objects: [
        Belt("flffr"),
        Belt("lr"),
        Belt("f"),
        Belt("rl"),
        Belt("rffl"),
    ]
)