(
    layout: [
        "###I#I###",
        "#       #",
        "#       #",
        "#LL     #",
        "#LL     #",
        "#LL     #",
        "#       #",
        "#       #",
        "###O#O###",
    ]
)