(
    layout: [
        "##i###o##",
        "#   L   #",
        "I       O",
        "#   1   #",
        "#LL     #",
        "#LL 2  L#",
        "#LL     #",
        "#   0   #",
        "u       n",
        "#   L   #",
        "##U###N##",
    ],
    objects: [
        Belt("ff"),
        Belt("lf"),
        Belt("r"),
    ]
)