(
    layout: [
        "##I###O##",
        "#   L   #",
        "I       O",
        "#   1   #",
        "#LL     #",
        "#LL 2  L#",
        "#LL     #",
        "#   0   #",
        "O       I",
        "#   L   #",
        "##O###I##",
    ],
    objects: [
        Belt("ff"),
        Belt("lf"),
        Belt("r"),
    ]
)